<!DOCTYPE HTML>
<html lang="uk">

<head>
    <title>Login page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
    <h1>Сторінка входу на сайт</h1>
</body>

</html>