<!DOCTYPE HTML>
<html lang="uk">

<head>
    <title>Registration page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/style/css/style.css"/>
</head>

<body>
<div class="top">
    <span class="left"><a href="#"><strong  onclick="history.back()">назад</strong></a></span>
    <span class="right"><a href="/"><strong>На головну</strong></a></span>
    <div class="clr"></div>
</div>

<div id="login-form">
    <h1>Реєстрація</h1>

    {{#message}}
        {{message}}
    {{/message}}

    <fieldset>
        <form action="/registration" method="POST">
            <label><input type="text" name="username" placeholder="Юзернейм" required/> </label>
            <label><input type="password" name="password" placeholder="Пароль" required/> </label>
            <label><input type="text" name="sex" placeholder="Стать" required/></label>
            <label><input type="text" name="age" placeholder="Вік (років)" required/></label>
            <label><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></label>
            <input type="submit" value="Зареєструватись"/>
        </form>
    </fieldset>
</div>
</body>

</html>
