<!DOCTYPE HTML>
<html lang="uk">

<head>
    <title>Sign Up page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
    <h1>Сторінка реєстрації</h1>
</body>

</html>
