<!DOCTYPE HTML>
<html lang="uk">

<head>
    <title>About user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<button type="button" name="back" onclick="history.back()">назад</button>

<a href="/">На головну</a>

<form method="POST">
    <label><input type="text" name="username" placeholder="Введіть логін юзера:" required/></label>
    <label><input type="text" name="sex" placeholder="Введіть стать юзера:" required/></label>
    <label><input type="text" name="age" placeholder="Введіть вік юзера:" required/></label>
    <label><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></label>
    <button type="submit">Додати</button>
</form>

<h1>Список юзерів</h1>
{{#users}}
    <div>
        <b>{{id}}</b>
        <span>{{username}}</span>
        <span>{{sex}}</span>
        <span>{{age}}</span>
    </div>
{{/users}}
</body>

</html>
