<!DOCTYPE HTML>
<html lang="uk">

<head>
    <title>About user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
   <form method="POST">
       <input type="text" name="login" placeholder="Введіть логін юзера:"/>
       <input type="text" name="sex" placeholder="Введіть стать юзера:"/>
       <input type="text" name="age" placeholder="Введіть вік юзера:"/>
       <button type="submit">Додати</button>
   </form>


    <h1>Список юзерів</h1>
    {{#users}}
    <div>
        <b>{{id}}</b>
        <span>{{login}}</span>
        <i>{{sex}}</i>
        <i>{{age}}</i>
        <i>{{email}}</i>
    </div>
    {{/users}}
</body>

</html>
