<!DOCTYPE HTML>
<html lang="uk">

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
    <form action="/logout" method="POST">
        <label><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></label>
        <input type="submit" value="Вийти"/>
    </form>

    <a href="/login">Ввійти</a>
    <a href="/registration">Зареєструватись</a>
    <a href="/user">Юзери</a>
</body>

</html>
